.TopCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 90%;

}

.Headbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.Options {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.Content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 15rem);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}


@media screen and (max-width: 1050px) {
    .Headbar {
        justify-content: center;
        gap: 2rem;
    }

    .TopCards {
        padding-top: 2rem;
    }
  
}