
.Splitter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

@media screen and (max-width: 1050px) {
    .Splitter {
        display: flex;
        flex-direction: column;
        gap: 0rem;
        padding-top: 0.5rem;
        padding-bottom: 5rem;
    }
}


