.TopArtist {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
   
}

.Rounded {
    border-radius: 50rem;
}

.playlistInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.playlistInfo span:last-child {
    font-size: 0.75rem;
}